* {
	font-family: Arial;	
}

#logo1 {
	height: 100px;
	width: 200px;
	float: left;
}
.logo1 {
	width: 100%;
	float: left;
	background-color: #ffffff;
}

/*Navigation*/
nav ul {
	list-style: none;
	float: left;
}

nav {
	float: right;
	width: 50%;
	text-align: right;
	background-color: #676767;
	width: 100%;
	height: 10%;
	color: #ffffff;
}

nav ul li {
	float: left;
	color: #ffffff;
	font-size: 14px;
	text-align: left;
	margin-right: 25px;
	letter-spacing: 2px;
	font-weight: bold;
	transition: all 0.3s linear;
}

ul li a {
	color: #FFFFFF;
	text-decoration: none;
}
ul li:hover a {
	color: #6699CC;
}

.secondary {
	float: left;
	width: 50%;
	text-align: center;
	background-color: #003B6D;
	height: 30%;
	color: #ffffff;
	justify-self: baseline;
}
#contact {
	float: right;
	color: #ffffff;
	font-size: 14px;
	text-align: left;
	margin-right: 25px;
	letter-spacing: 2px;
	font-weight: bold;
	transition: all 0.3s linear;
	size: 20%;
}

.currentLink {
	color: #6699CC;
}
/*main parapgraph*/
h3 {
	color: #ffffff;
	font-size: 18pt;
	float: left;
	display: flex;
	width: 50%;
	margin-left: 7px;
	padding: 0;
	height: 3%;
}
h4{
	float: left;
	width: 50%;
	color: #ffffff;
	margin-left: 7px;
	size: 10%;
}

p {
	float: left;
	width: 50%;
	color: #ffffff;
	margin-left: 7px;
	size: 10%;
}
.list {
	float: left;
	width: 50%;
	color: #ffffff;
	margin-left: 7px;
	margin-top: 2px;
	margin-bottom: none;
}
.section {
	width: 100%;
	background-color: #003B6D;
	float: left;

}
#body {
	size: 33%;
	flex-direction: column;
	flex-wrap: wrap;
	height: 275px;
	width: 275px;
	display:flex;
	border-radius: 7px;
	margin: 3px;
	padding: none;
	border: 5px groove;
	border-color: #6699CC;
}
#imgcontain {
	float: right;
	margin-right: 40px;
	size: 33%;
}
.link {
	color: #6699CC;;

}

/*Form*/
#form {
	float: left;
	flex-wrap: wrap;
	margin: 7px;
	padding-top: 15px;
	margin-top: 10px;
	background-color: #6699CC;
	color: #ffffff;
	align-content: left;
	border-radius: 12px;
	margin-bottom: 33px;
	size: 100%;
	height: 30%;
	width: 50%;
	display: flex;
}

#form .header {
	margin: 10px;
	width: 50%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	
}

#form h2 {
	margin:  7px;
	width: 100%;
	text-align: center;
}
form {
	float: left;
	color: #ffffff;
	margin-left: 20px;
	display: flex;
	flex-direction: column;
	size: 100%;
}

input[type=text], select {
width: 70%;
height: 5%;
padding: 12px 20px;
margin: 8px 10;
display: block;
border: none;
border-radius: 8px;
box-sizing: border-box;
}
input[type=submit] {
width: 70%;
height: 5%;
background-color: #F8E2E6;
color: #0000FF;
padding: 12px 18px;
margin: 20px 10px;
border: none;
border-radius: 6px;
cursor: pointer;
}
button {
	height: 2%;
	width: 20%;
	float: left;
	display: block;
}

/*Footer*/
footer {
	margin-top: 20%;
	float: left;
	background-color:#003B6D;
	width: 100%;
	height: 10%;
	display: flex;
	
}
.footer {
	height: 75px;
	width: 75px;
	float: right;
	padding: 10px;
	margin: 7px;
	display: flex;
	
}
